.container {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    width          : 100%;
}

.statistics {
    align-items    : center;
    display        : flex;
    justify-content: space-between;
    padding        : 50px 60px;
    width          : 100%;
}

.static {
    align-items     : center;
    background-color: var(--black);
    border-radius   : 12px;
    color           : var(--text);
    display         : flex;
    height          : 100px;
    justify-content : space-between;
    padding         : 10px 20px;
    width           : 22%;
}

.static>div {
    color         : var(--text);
    display       : flex;
    flex-direction: column;
    font-weight   : 500;
    gap           : 15px;
}

.static>div>:nth-child(2) {
    color    : var(--blue);
    font-size: 20px;
}