.container {
    align-items   : end;
    display       : flex;
    flex-direction: column;
    margin-bottom : 100px;
    padding       : 20px;
    width         : 100%;
}

.container>:nth-child(1) {
    width: 100%;
}

.container>:nth-child(1) {
    border-radius: 10px !important;
    overflow     : hidden !important;
}

